@tailwind base;
@tailwind utilities;
@tailwind components;


.textR{
    font-family: 'Rubik', sans-serif;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;

}

html{
  scroll-behavior: smooth;
}